
html, body {
    height: 100%;
    padding:0px;
    margin:0px;
    background: white;
    }
    li,button {
    font-weight: 500;
    font-size:16px;
    color: black;
    }
    .page-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    }
    .navigation li {
    display:inline;
    padding: 0px 25px;
    }
    .navigation li a {
    transition: all 0.3s ease 0s
    }
    .navigation li a:hover {
    color:limegreen;
    }
    .button {
    padding: 25px;
    background-color: rgba(darkgrey,0.8);
    }
    .page-title {
    background-color: #0B082B;
    }
    h1 {
    color:white;
    }
    .container {
    min-height: 100%;
    }
    
    .container,h5{
        text-align: center;
    }
    .courses{
display: flex;
justify-content: space-evenly;
    }
    h7{
        text-align: center;
  margin-left:700px ;
    }
    .motto{
        text-align: center;
    }
.socials{
    justify-content: space-evenly;
    text-align: center;
}
body{
    background-color: ivory;
}

/*Footer*/
.footer {
    background-color:#0B082B;
    color:white;
    
    position: relative;
    left:0;
    bottom:0;
    right:0;
    }
    
    .footer .footer-bottom {
    background-color: indigo;
    height: 20px;
    width:100%;
    text-align:center;
    position: absolute;
    bottom:0px;
    left: 0px;
    padding-top: 20px; 
    }
    .footer .footer-content {
    height: 400px;
    display:flex;
    }
    .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid white;
    }
    .footer .socials i {
    color:white;
   
    }
    .footer li {
        color:white;
        display:flex;
        align-items: center;
    }